NODE_ENV=development
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=libreria
POSTGRES_PORT=5432

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=libreria

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

CHECKPOINT_DISABLE=1
PRISMA_HIDE_UPDATE_MESSAGE=1

JWT_SECRET=cambiame_por_una_cadena_larga_y_aleatoria
